<aside
  class="bg-black grid float-left text-white px-16 h-screen text-xl text-center"
>
  <span class="text-2xl cursor-default">Emuladores</span>
  <button
    (click)="currentpage = 'Nes'"
    class="cursor-pointer hover:text-red-600"
    for=""
  >
    Nes
  </button>
  <button
    (click)="currentpage = 'Snes'"
    class="cursor-pointer hover:text-red-600"
    for=""
  >
    Snes
  </button>
  <button
    (click)="currentpage = 'N64'"
    class="cursor-pointer hover:text-red-600"
    for=""
  >
    N64
  </button>
  <button
    (click)="currentpage = 'Gba'"
    class="cursor-pointer hover:text-red-600"
    for=""
  >
    Gba
  </button>
  <button
    (click)="currentpage = 'Gbc'"
    class="cursor-pointer hover:text-red-600"
    for=""
  >
    Gbc
  </button>
  <button
    (click)="currentpage = 'Genesis'"
    class="cursor-pointer hover:text-red-600"
    for=""
  >
    Genesis
  </button>
  <button
    (click)="currentpage = 'Saturn'"
    class="cursor-pointer hover:text-red-600"
    for=""
  >
    Saturn
  </button>
  <button
    (click)="currentpage = 'Gcn'"
    class="cursor-pointer hover:text-red-600"
    for=""
  >
    Gcn
  </button>
  <button
    (click)="currentpage = 'Wii'"
    class="cursor-pointer hover:text-red-600"
    for=""
  >
    Wii
  </button>
  <button
    (click)="currentpage = 'Ds'"
    class="cursor-pointer hover:text-red-600"
    for=""
  >
    Ds
  </button>
  <button
    (click)="currentpage = '3Ds'"
    class="cursor-pointer hover:text-red-600"
    for=""
  >
    3Ds
  </button>
  <button
    (click)="currentpage = 'Switch'"
    class="cursor-pointer hover:text-red-600"
    for=""
  >
    Switch
  </button>
</aside>

@switch (currentpage) { @case ('Nes') {
<div class="grid"><app-nes></app-nes></div>
} @case ('Snes') {
<div>Snes</div>
} @case ('N64') {
<div>N64</div>
} @case('Gba'){
<div>Gba</div>
} @case ('Gbc') {
<div>Gbc</div>
} @case ('Genesis') {
<div>Genesis</div>
} @case ('Saturn') {
<div>Saturn</div>
} @case ('Gcn') {
<div>Gcn</div>
} @case ('Wii') {
<div>Wii</div>
} @case ('Ds') {
<div>Ds</div>
} @case ('3Ds') {
<div>3Ds</div>
} @case ('Switch') {
<div>Switch</div>
} @default {
<div class="flex items-center justify-center h-screen">
  <ngx-typed-js
    class="text-7xl text-center"
    id="textprogresive"
    [strings]="[
      'Nes',
      'Super Nintendo',
      'Nintendo 64',
      'Game Boy Advance',
      'Game Boy Color',
      'Sega Genesis',
      'Sega Saturn',
      'GameCube',
      'Nintendo Wii',
      'Nintendo Ds',
      'Nintendo 3Ds',
      'Nintendo Switch'
    ]"
    [shuffle]="true"
    [typeSpeed]="100"
  >
    Descarga tus juegos favoritos de <span class="typing"></span>
  </ngx-typed-js>
</div>
} }
