<div
  class="grid gap-5 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 pt-3 xl:grid-cols-4 ml-40 md:ml-56 lg:ml-[17rem]"
>
  <div
    id="container"
    class="flex justify-center image transition-all transform hover:scale-110 backface-hidden hover:cursor-pointer"
  >
    <figure>
      <img
        class="w-60"
        src="https://e.snmc.io/lk/lv/x/a837bd39e36e68eaeda5d57d714dbc47/7580872"
        alt=""
      />
      <h3 class="hover:cursor-pointer text-center">Super Mario World</h3>
    </figure>
  </div>
  <div
    id="container"
    class="flex justify-center image transition-all transform hover:scale-110 backface-hidden hover:cursor-pointer"
  >
    <figure>
      <img
        class="w-60"
        src="https://i.blogs.es/dd4aad/super_mario_kart_-_north_american_cover/450_1000.webp"
        alt=""
      />
      <h3 class="hover:cursor-pointer text-center">Super Mario Kart</h3>
    </figure>
  </div>
  <div
    id="container"
    class="flex justify-center image transition-all transform hover:scale-110 backface-hidden hover:cursor-pointer"
  >
    <figure>
      <img
        class="w-60"
        src="https://upload.wikimedia.org/wikipedia/en/1/1a/Donkey_Kong_Country_SNES_cover.png"
        alt=""
      />
      <h3 class="hover:cursor-pointer text-center">Donkey Kong Country</h3>
    </figure>
  </div>
  <div
    id="container"
    class="flex justify-center image transition-all transform hover:scale-110 backface-hidden hover:cursor-pointer"
  >
    <figure>
      <img
        class="w-60"
        src="https://upload.wikimedia.org/wikipedia/en/2/21/The_Legend_of_Zelda_A_Link_to_the_Past_SNES_Game_Cover.jpg"
        alt=""
      />
      <h3 class="hover:cursor-pointer text-center">TLOZ:A link to the past</h3>
    </figure>
  </div>
  <div
    id="container"
    class="flex justify-center image transition-all transform hover:scale-110 backface-hidden hover:cursor-pointer"
  >
    <figure>
      <img
        class="w-60"
        src="https://i.pinimg.com/564x/c0/ed/8b/c0ed8b1f8bf75cb71e281e35ceee99e1.jpg"
        alt=""
      />
      <h3 class="hover:cursor-pointer text-center">Super Bomberman</h3>
    </figure>
  </div>
</div>
