@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    background: rgb(172,172,172);
background: linear-gradient(90deg, rgba(172,172,172,1) 0%, rgba(221,221,221,1) 33%, rgba(230,230,230,1) 50%, rgba(221,221,221,1) 66%, rgba(172,172,172,1) 100%);
}

@font-face{
    font-family:'FOT-RodinNTLG Pro';
    src: url('assets/FOT-RodinNTLG\ Pro\ DB.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family:'FOT-RodinNTLG Pro' ;
}

