#container figure img{
    transition: all 300ms ease-out;
}
#container figure #capa{
position: absolute;
top: 0;
width: 53%;
height: 98%;
background: rgba(123, 0, 0, 0.6);
transition: all 300ms ease-out;
opacity: 0;
visibility: hidden;
text-align: center;
}

#container figure:hover > #capa{
    opacity: 1;
    visibility: visible;
}


